<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Murmurmatch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <h3>Murmurmatch</h3>
        <ul>
            <li><a href="{{ url_for('static', filename='display_calibrations.html') }}">Display the Calibrations</a></li>
            <li><a href="{{ url_for('static', filename='text_to_audio.html') }}">Text -> Audio</a></li>
        </ul>
    </body>
</html>
